.transactionHistory {
  background-color: #2e85a1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 800px;
  margin-bottom: 30px;
}

.tableHead {
  background: #2e85a1;
  font-size: 23px;
  font-weight: 500;
  height: 40px;
  color: #FFF;
}

.tableData {
  background: #2e85a1;
  font-size: 20px;
}

.tableDataCell {
  width: 350px;
  height: 35px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #FFF;
}

tr:nth-child(even) {
  background-color: #64CCC5;
}